<tr>
  <td>
    <%= image_tag item.product.image.tiny.url %>
  </td>
  <td>
    <h4><%= item.product.name %></h4>
    <br>
    <p><%= item.product.description %></p>
  </td>
  <div>
    <td>
      Quantity: <%= item.quantity %>
    </td>
    <br>
    <td>
      Order Total: <%= humanized_money_with_symbol item.product.price * item.quantity %>
    </td>
  </div>
</tr>
